@page "/game/{Id:guid}"
@inject IJSRuntime js

@inject IStringLocalizer<Game> localizer

<div class="main-page">
    <p class="title">@game.Title</p>
    <div class="nav-block">
        <p class="nav-block active">@localizer["Overview"]</p>
        <p class="nav-block">@localizer["Add-Ons"]</p>
    </div>
    <div class="main-block">
        <div class="main-bar">
            <p class="description-promo"> Experience the story of Basim, a cunning street thief with nightmarish visions, seeking answers and justice as he navigates the bustling streets of ninth-century Baghdad. Through a mysterious, ancient organization known as the Hidden Ones, he will become a deadly Master Assassin and change his fate in ways he never could have imagined</p>
            <div class="block-genres">
                <div class="genres">
                    <p class="block-genres-name">@localizer["Genres"]</p>
                <p class="genres-links">Action, Adventure</p>
                </div>
                <div class="features">
                    <p class="block-genres-name">@localizer["Features"]</p>
                    <p class="genres-links">Single Player, Adventure</p>
                </div>
            </div>
            <div class="descriptons-full">
                <h2 class="small-title">@game.Title</h2>
                <p class="descr-text">Experience the story of Basim, a cunning street thief seeking answers and justice as he navigates the bustling streets of ninth-century Baghdad. Through a mysterious, ancient organization known as the Hidden Ones, he will become a deadly Master Assassin and change his fate in ways he never could have imagined. </p>
                <ul class="descr-text">
                    <li>Experience a modern take on the iconic features and gameplay that have defined a franchise for 15 years.</li>
                    <li>Parkour seamlessly through the city and stealthily take down targets with more visceral assassinations than ever before.</li>
                    <li>Explore an incredibly dense and vibrant city whose inhabitants react to your every move, and uncover the secrets of four unique districts as you venture through the Golden Age of Baghdad.</li>

                </ul>
            </div>
        </div>
        <div class="side-bar">
            <img class="bar-image" src="https://cdn2.unrealengine.com/epic-launch-logo-400x172-c0289bc57588.png?h=270&quality=medium&resize=1&w=480">
            <div class="block-pegi">
                <img class="pegi-img" src="https://cdn1.epicgames.com/gameRating/gameRating/PEGI_18_192_192x192-d6a2111e4c05a18bc5ec235df88a7382">
                <div class="pegi-info">
                    <p class="pegi-name">PEGI 18</p>
                    <p class="pegi-descr">Violence, Bad Language, In-Game Purchases</p>
                </div>
            </div>







        </div>





    </div>


</div>






@code {







    GameModel game;

    [Parameter]
    public Guid Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        game = DatabaseMoq.Games.First(g => g.Id==Id);
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await js.InvokeVoidAsync("setVar", "--background",game.Background);
        await js.InvokeVoidAsync("setVar", "--game-button", game.ButtonColor);


    }
}
